<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add new Data</h4>
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
                            <div class="row">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="material-icons">create</i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Title" name="title" ngModel>
                                    <div class="input-group-append">
                                      <span class="input-group-text"></span>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="material-icons">link</i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="URL" name="url" ngModel> 
                                    <div class="input-group-append">
                                      <span class="input-group-text"></span>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-danger pull-right">Submit Data</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" >
                            <table class="table" >
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody *ngFor="let item of photoList">
                                    <tr>
                                        <td>
                                            {{ item.id }}
                                        </td>
                                        <td>
                                            {{ item.title }}
                                        </td>
                                        <td>
                                            <button type="button"   (click)="onDelete(item)"  class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons " >close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  